div[class^="col-"] {
    border: 1px solid black;
    height: 100px;
}

#item1{background: #5bc0de;}
#item2{background: #d0e9c6;}
#item3{background: #f0ad4e;}
#item4{background: #f0e68c;}
#item5{background: #9d9d9d;}
#item6{background: #dda0dd;}
#item7{background: #bc8f8f;}
#item8{background: #5f9ea0;}
#item9{background: #6a5acd;}
#item10{background: #db7093;}