div[class^="col-"] {
    border: 1px solid black;
    height: 50px;
}

#row1-col1{background: #5bc0de;}
#row1-col2{background: #d0e9c6;}
#row2-col1{background: #f0ad4e;}
#row2-col2{background: #f0e68c;}